<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="mainc">
        <div id="sessions">
            <button id="newsns" onclick="newSession('{{ session_name }}')">New session</button>
        </div>
        <div id="senlist">
            <button class="session_item" onclick="loadSession('{{ session_name }}')">{{ session_name }}</button>
        </div>
        <div id="chat-container">

                <div id="{{ session_name }}">    
                    <div id="chat-title">CAP Chatbot</div>
                    <div id="chat-display"></div>
                    <div id="user-input-container">
                        <input type="text" id="user-input" placeholder="Type your message...">
                        <button onclick="sendMessage()">Send</button>
                    </div>
                    <div id="loader"></div>
                </div>
        </div>
    </div>
    
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <button class="session_btn" onclick="newSession('{{ session_name }}')">new session</button>
        <div id="sessions">
            <button class="session_item">{{ session_name }}</button>
        </div>
    </div>
        <div id="chat-container">
            <div id="chat-title">CAP Chatbot</div>
            <div id="chat-display"></div>
            <div id="user-input-container">
                <input type="text" id="user-input" placeholder="Type your message...">
                <button onclick="sendMessage()">Send</button>
            </div>
            <div id="loader"></div>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> -->

